.scroll-indicator-container {
  position: fixed;
  top: 40px;
  left: 30px;
  width: 100%;
  height: fit-content;
  mix-blend-mode: difference;

  .scroll-indicator {
    font-family: "PP Supply Mono", sans-serif;
    position: fixed;
    bottom: 100px;
    right: 0;
    transform: rotate(90deg);
    font-size: 1.3em;
    color: white;
  }
}
