@font-face {
    font-family: 'Neue Montreal';
    src: local('PP Neue Montreal'),
    url('./PPNeueMontreal-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Supply Mono';
    src: local('PP Supply Mono'),
    url('./PPSupplyMono-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}
